<div class= "center jumbotron">
    <h1> Welcome to the Twit </h1>

    <h2>
    <% unless user_signed_in? %>
        <%= link_to "Sign Up ",new_user_registration_path , class: "btn btn-lg btn-primary"%>
<% else%>
    <h2> You are online as <%= current_user.email %> </h2>
        <%end%>
    </h2>

    <% if user_signed_in? %>
        <div class="row">
            <aside class="col-md-4">
                <section class="user_info">
                    <%= render 'shared/user_info'%>
                </section>
                <section class="micropost_form">
                    <%= render 'shared/micropost_form' %>
                </section>
            </aside>
        </div>
    <%end%>

</div>

