<%= simple_form_for(@micropost) do |f|%>
    <div class="field">
        <%= f.input :content, label: "Micropost", placeholder: "Compose new micropost..."%>
        <%= f.button :submit, class: "btn-primary"%> 
    </div>
<%end%>
